body {
    margin: 0;
}

#main{
    height: 729px;
    width: 550px;
    border-radius: 0px;
    position: absolute;
    background: #1F2937;
    border-radius: 20px;
    top: 10px;
}

.section-1{
    width: 550px;
    height: 285px;
    background: #6943FF;
    position: absolute;
    
}
.section-2{
    width: 550px;
    height: 444px;
}

h1{
    font-family: 'Inter', sans-serif;
    margin: 33px 50.6px 214px 51px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
    position: absolute;
    width: 448.4px;
    height: 38px;
}

#lil-1{
    margin: 101px 216px 101px 217px;
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 83px;
}

input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    width: 117px;
    height: 83px;
    font-size: 58px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: #6943FF;
}

#btn{
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 0px solid #FFFFFF;
    margin: 209px 216px 34px 217px;
}

#btn:active{
    background-color: #1F2937;
    transition: .5s ease;
    padding: 20px;
}

.mini-div-1{
    position: absolute;
    width: 500px;
    height: 108.57px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    margin: 321px 25px 299.43px 25px;

}
.para-1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Inter;
    color: #CCC1FF;
    position: relative;
}

#MP1{
    border-radius: nullpx;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    position: relative; 
}

.mini-div-2{
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    margin: 453px 25px 167.43px 25px;
    width: 500px;
    height: 108.57px;
    position: absolute;
}

.para-2{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Inter;
    color: #CCC1FF;
    position: relative;
}

#MP2{
    border-radius: nullpx;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.mini-div-3{
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    width: 500px;
    height: 108.57px;
    position: absolute;
    margin: 585px 25px 35.43px 25px;

}

#MP3{
    border-radius: nullpx;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.para-3{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Inter;
    color: #CCC1FF;
    position: relative;
}